.header {
  position: sticky;
  top: 0;
  z-index: 1;
  color: white;
}

.logo {
  display: flex;
  margin-left: 2em;
  font-family: Lucida Handwriting;
  cursor: pointer;
}

.logoContainer {
  display: flex;
  justify-content: space-between;
}

.menuIcon {
  margin: 1em 2em;
  cursor: pointer;
}
